{% if messages %}
<div class="messages-container mt-3">
    {% for message in messages %}
        {% with message_tag=message.tags %}
            <div class="alert alert-{{ message_tag }} alert-dismissible fade show d-flex align-items-center" role="alert">
                <i class="me-2
                    {% if message_tag == 'debug' %}fa-solid fa-bug{% endif %}
                    {% if message_tag == 'info' %}fa-solid fa-circle-info{% endif %}
                    {% if message_tag == 'success' %}fa-solid fa-check-circle{% endif %}
                    {% if message_tag == 'warning' %}fa-solid fa-exclamation-triangle{% endif %}
                    {% if message_tag == 'error' %}fa-solid fa-bomb{% endif %}
                "></i>
                <div>
                    {{ message|safe }}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endwith %}
    {% endfor %}
</div>
{% endif %}